<div class="col-12 col-lg-8 offset-lg-2">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.title) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.author) }}
        </div>
        <div class="col-6">
            {{ form_row(form.genre) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="{{ form.isbn.vars.id }}">{{ form.isbn.vars.label }}</label>
            <div class="input-group">
                {{ form_widget(form.isbn) }}
                <div class="input-group-append">
                    <button id="isbnSearchBtn" class="input-group-text"><i class="fas fa-search"></i></button>
                </div>
                <div class="invalid-feedback">
                    Le numéro ISBN n'est pas valide.
                </div>
            </div>
        </div>
        <div class="col-1">
            {{ form_row(form.volume) }}
        </div>
        <div class="col-3">
            {{ form_row(form.publicationYear) }}
        </div>
        <div class="col-4">
            {{ form_row(form.format) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.collection) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.description) }}
        </div>
        <div class="col-6">
            {{ form_row(form.observations) }}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form_row(form.hasBeenRead) }}
        </div>
        <div class="col-4">
            {{ form_row(form.isEbook) }}
        </div>
    </div>
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>