<div class="container mt-5">
    <div class="row mb-5" id="createRessource">
        <div class="col-8 col-xl-11">
            {% if section == 'authors' %}
                <input type="text" id="newRessource" class="form-control"
                       placeholder="Ajouter un auteur">
            {% endif %}
            {% if section == 'publishers' %}
                <input type="text" id="newRessource" class="form-control"
                       placeholder="Ajouter un éditeur">
            {% endif %}
            {% if section == 'genres' %}
                <input type="text" id="newRessource" class="form-control"
                       placeholder="Ajouter un genre">
            {% endif %}
            {% if section == 'formats' %}
                <input type="text" id="newRessource" class="form-control"
                       placeholder="Ajouter un format">
            {% endif %}
            {% if section == 'collections' %}
                <div class="row">
                    <div class="col-6 col-xl-7">
                        <input type="text" id="newRessource" class="form-control"
                               placeholder="Ajouter une collection">
                    </div>
                    <div class="col-6 col-xl-5" id="newRessourceParent">
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-4 col-xl-1">
            <button class="btn btn-outline-success" title="Ajouter" id="add-btn" data-class="{{ section }}">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <table class="table table-hover table-borderless table-dark">
        {% for ressource in ressources %}
            <tr class="row">
                <td class="col-8 col-xl-10">
                    {% if (section == 'collections') %}
                        <div class="row">
                            <div class="col-6 col-xl-7">{{ ressource.name }}</div>
                            <div class="col-6 col-xl-5">{{ ressource.publisher.name }}</div>
                        </div>
                    {% else %}
                        {{ ressource.name }}
                    {% endif %}
                </td>
                <td class="col-4 col-xl-2 actions-btn">
                    <button class="btn edit-btn btn-outline-primary" title="Éditer"
                            data-class="{{ section }}" data-id="{{ ressource.id }}">
                        <i class="fas fa-pen"></i>
                    </button>
                    <button class="btn delete-btn btn-outline-danger" title="Supprimer"
                            data-class="{{ section }}" data-id="{{ ressource.id }}">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>